@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-white font-plex leading-normal text-gray-700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-plex font-bold text-gray-700;
}

@layer components {
  .input {
    @apply w-full rounded border border-gray-100 px-5 py-3 text-sm font-normal transition-colors focus:border-green-500 focus:outline-none;
  }

  .btn {
    @apply cursor-pointer rounded-md transition-colors px-8 py-3.5 text-base bg-green-500 text-white;
  }
}
