@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-white font-plex leading-normal text-gray-700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-plex font-bold;
}

@layer components {
  .input {
    @apply w-full rounded border border-gray-200 px-5 py-3 text-sm font-normal transition-colors focus:border-green-500 focus:outline-none;
  }

  .input-label {
    @apply mb-1 block text-sm font-normal text-gray-700;
  }

  .input-example {
    @apply mt-1 block text-xs font-normal text-gray-400;
  }

  .btn {
    @apply cursor-pointer rounded-md bg-green-500 px-6 py-3 text-sm text-white transition-colors md:px-8 md:py-3.5 md:text-base;
  }
}

/* Toastify */
.Toastify__toast-body {
  @apply font-plex font-normal text-gray-700;
}
